#########################
## Grails
#########################
web-app/WEB-INF/*
web-app/images/*
web-app/js/*
web-app/css/*
grails-app/i18n/*
target
prodDb.*
stacktrace.log
old
out
.classpath
.project
*.iml
.idea
*.zip
plugin.xml

.gradle
build

.DS_Store