<plugin name='ic-alendar' version='0.3.5' grailsVersion='2.0.0 &gt; *'>
  <author>Silvio Wangler</author>
  <authorEmail>silvio.wangler@gmail.com</authorEmail>
  <title>iCalendar Plug-in</title>
  <description>
        This plugin contains a builder to easily convert your event into the iCalendar format.
        The plugin hooks replaces each render method that uses the contentType 'text/calendar'.
	</description>
  <documentation>http://grails.org/ICalendar+Plugin</documentation>
  <type>ICalendarGrailsPlugin</type>
  <resources>
    <resource>TestController</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='org.mnode.ical4j' name='ical4j' version='1.0.4' />
    </compile>
    <runtime>
      <dependency group='backport-util-concurrent' name='backport-util-concurrent' version='3.1' />
    </runtime>
  </dependencies>
  <plugins />
  <runtimePluginRequirements>
    <plugin name='controllers' version='2.0.0 &gt; *' />
  </runtimePluginRequirements>
  <behavior />
</plugin>